spring:
  application:
    name: GymRank
  datasource:
    url: jdbc:postgresql://localhost:5432/gymrank
    username: gym_user
    password: password

  jpa:
    hibernate:
      ddl-auto: create
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        show_sql: true




