name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: app_test
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U test -d app_test"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Download code (checkout)
        uses: actions/checkout@v4

      - name: Configure JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Give permmissions to the Maven Wrapper
        run: chmod +x mvnw

      - name: Set DB env for tests
        run: |
          echo "SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/app_test" >> $GITHUB_ENV
          echo "SPRING_DATASOURCE_USERNAME=test" >> $GITHUB_ENV
          echo "SPRING_DATASOURCE_PASSWORD=test" >> $GITHUB_ENV

      - name: Compile and test
        run: ./mvnw clean verify


