name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Download code (checkout)
        uses: actions/checkout@v4

      - name: Configure JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Give permmissions to the Maven Wrapper
        run: chmod +x mvnw

      - name: Compile and test
        run: ./mvnw clean verify
